*{
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-position: center center;
}
.wrapper{
    margin: 5% auto;
    position: absolute;
    width:800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;


}
.wrapper .form  .body{
    position: relative;
}
.form{
    display: flex;
    background: white;
    border-radius: 5px;
    padding: 1.8em;
    border:1px solid black;
}
.main{
    display:flex;
    width: 100%;
    flex-direction: column;
}
.create{
    font-size: 13px;
    flex-direction: column;
    font-display: none;
    font-style:inherit
}

input[type=text], input[type=password] {
    padding: 8px;
    margin: 10px 10px;
    border: 1px solid black;
    background: white;
    border-radius: 5px
  }
  input[type=text]:focus, input[type=password]:focus ,input[type=email]:focus {
    outline: none;
    border: 2px solid rgb(51, 51, 253);
  }
  input[type=email]{
    padding: 8px;
    margin: 10px 10px;
    width: 86%;
    border: 1px solid black;
    background: white;
    border-radius: 5px
  }
  p{
    margin:1px 10px;    
  }
  .img{
      margin: 10px 10px;
      flex-direction: column;
      order:2;
  }
  .logo{
      width: 50px;
      height: 50px;
      float: left;
      margin: 20px;
  }
  figure{
      padding: 20px;
      margin: 20px 10px;
  }
.btn{
    background-color: rgb(51, 51, 253);
    color:white;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 50px 100px;
    border: none
}
a{
    color:rgb(51, 51, 253);
    font-display: none;
}
.sign{
    align-content: space-between
}
  .in:hover{
      cursor: pointer;
      background-color: rgb(217, 230, 243);
  }
  .btn:hover{
      cursor: pointer;
  }
  .foota{
      color: black;
      margin: 3px;
  }
  figcaption{
    padding: 2px;
    text-align: center;
  }
label{
    position: absolute;
    display: none;
    color: white
}
   input:focus + label,
   input:valid +label
  {
      display: block;
      top: -8px;
      transform: scale(1.5);
      color: blue;
      font-size: 10px;
  }
   input:focus,
    input:valid,
  {
      border: 2px solid  blue
  }

  